*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*<--comienzo del header-->*/
.header{
    width: 100%;
    background-color: rgb(207, 193, 175);
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .navegacion > a{
    color: black;
    text-decoration: none;
    padding-left: 2em;
    font-family: 'Roboto';
}

.navegacion a:hover{
    color: rgb(240, 30, 30);
}

/*<--cierre del header-->*/

/*<--hero-->*/

.hero{
    background-image: url(../img/base.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;

}

.padre{
    position: relative;
}
.presentacion{
    color: rgb(249, 248, 248);
    padding-top: 5em;
}

.presentacion{
    font-family: 'roboto';
    font-size: 30px;
}

.presentacion p{
    font-size: 25px;
}

.btn{
    margin-top: 20px;
    background-color: rgb(228, 7, 7);
    color: black;
    padding: 20px;
    border-radius: 10%;

}

.capa{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5)
}